<h2>My Heroes</h2>
<div>
    <label>Hero name:</label> <input #postingTitle />
    <button (click)="add(postingTitle.value); postingTitle.value=''">
        Add
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let posting of postings" (click)="onSelect(posting)"
        [class.selected]="posting === selectedPosting">
        <span class="badge">{{posting.owner_id}}</span>
        <span>{{posting.title}}</span>
        <button class="delete"
                (click)="delete(posting); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedPosting">
    <h2>
        {{selectedPosting.title | uppercase}} <br> {{selectedPosting.description}}
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>
