.ui-accordion .ui-accordion-header {
	padding: 2.5em .5em 2.5em .7em;
}

.ui-button {
  padding: 2em 2em;
}

body {
  font-family: Algerian;
}

#logo{
 position:absolute;
 top:0;
 left:100px;
 height:100px;
}
<<<<<<< HEAD
#accordion .ui-accordion-content {
  width: 100%;
  background-color: #f3f3f3;
  color: #777;
  font-size: 10pt;
  line-height: 16pt;
}

#accordion .ui-accordion-content > * {
  margin: 0;
  padding: 20px;
}
#accordion .ui-accordion-content a {
  color: #777;
}
#accordion .ui-accordion-header {
  background-color: #ccc;
  margin: 0px;
}

#accordion .ui-accordion-header a {
  color: #fff;
  line-height: 42px;
  display: block;
  font-size: 12pt;
  width: 100%;
  text-indent: 10px;
}

#accordion .ui-accordion-header:nth-of-type(odd) {
  background-color: #ee5234;
  color:white;
  opacity:0.8;
}
#accordion .ui-accordion-header:nth-of-type(even) {
  background-color: #297277;
  color:white;
  opacity:0.8;
 }

#accordion .ui-accordion-header a {
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
  border-right: 1px solid rgba(0, 0, 0, .2);
  border-left: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(250, 250, 250, .2);
}
#accordion .ui-accordion-content {
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4),
        inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}
#accordion .ui-accordion-content:last-of-type {
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
        inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}

#accordion .ui-accordion-header.ui-state-active { background: #0c8d11; }

#refreshButton{
	right: 100px;
	position: absolute;
	height: 5em;
  cursor: pointer;
}

* {
    font-family: Helvetica !important;
}
